body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    transition: box-shadow 0.3s ease-in-out;    
}
.navbar-shadow {
    box-shadow: 0 0 15px rgb(0, 255, 255);
  }
.left{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
}
.right{
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span, #home{
    color: aqua;
}
.nav-link {
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    margin: 10px;
    color: white;
  } 
.nav-link:hover, .phone-no span{
    color: aqua;
  }
.phone-no {
    font-size: 18px;    
}
.phn-icon {
    font-size: smaller;
    padding-left: 9px;
    padding-right:4px;
}
/* home stylings */



/* footer styles */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
}
.footer-line1 {
    border: none;
    height: 0.1px;
    width: 100%;
    background-color: rgb(17, 16, 16); 
    margin-bottom:50px;        
  }
.quick-links{
    display: flex;
    justify-content: space-between;    
}
.quick-links p {
    margin-right:100px;
}
.quick-links ul li{
    list-style: none;
    display: inline-block;
    padding-left: 50px;    
}
.footer-link {
    text-decoration: none;
    color: white;
}
.quick-links ul li, .footer-link:hover {
    color: aqua;
    cursor: pointer;
    transition: 1s;
}
.copyright {
    color: white;
    text-align: center;
    padding-bottom: 15px;
    font-size: 13px;
}
.footer-line2 {
    border: none;
    height: 1px;
    width: 90%;
    background-color: rgb(47, 47, 47); 
    margin: 20px;
    margin-top: 5px;
    margin-left: 70px;   
}
.home , .contact{
    padding-top: 100px;
}
